@import "@/app/variables.module.scss";

.calendar {
  $border-color: rgba($text, 0.5) !important;

  .fc-toolbar-title:first-letter {
    text-transform: uppercase;
  }

  .fc-header-toolbar {
    .fc-button-group {
      gap: 1rem;
    }

    .fc-button {
      border: 1px solid $border-color;
      border-radius: .5rem !important;
      transition: all 100ms linear;

      &:hover {
        background: rgba($primary, 0.1);
      }
      &:disabled{
        cursor: not-allowed;
      }
      &-active{
        background: rgba($primary, .7) !important;
        border: 1px solid rgb($accent) !important;
      }
    }
  }

  .fc-button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .fc-button:hover {
    background: rgb($primary, 0.5) !important
  }

  .fc-button-primary {
    background: rgb($primary, 0.25) !important;
  }

  &__view {
    outline: 1px solid $border-color;
    border-radius: .5rem;
    overflow: hidden;

    table {
      border: none !important;
      table-layout: fixed !important;
    }

    td.fc-day {
      transition: all 100ms linear;

      &:hover {
        background: rgba($primary, 0.1) !important;
      }
    }

    td, th {
      border-color: $border-color;
      color: rgb($text);
      cursor: pointer;

      &:first-child {
        border-left: none !important;
      }

      &:last-child {
        border-right: none !important;
      }

      .fc-day-today {
        background: rgba($accent, 0.1) !important;
      }

      .fc-highlight {
        background: rgba($accent, 0.5);
      }
    }

    tr {
      &:last-child td {
        border-bottom: none !important;
      }

      &:first-child > td, th {
        border-top: none !important;
      }
    }

    thead {
      cursor: default;
      user-select: none;
    }
  }
}